amqp
asgiref
async-timeout
beautifulsoup4
billiard
boto3
botocore
bs4
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coreapi
coreschema
cron-descriptor
cryptography
defusedxml
distlib
dj-database-url
Django
django-celery-beat
django-cors-headers
django-crispy-forms
django-environ
django-storages
django-templated-mail
django-timezone-field
djangorestframework
djangorestframework-simplejwt
djongo
djoser
drf-yasg
filelock
Flask
Flask-SQLAlchemy
futures
goslate
greenlet
gunicorn
idna
importlib-metadata
inflection
itsdangerous
itypes
Jinja2
jmespath
kombu
MarkupSafe
oauthlib
packaging
Pillow
platformdirs
prompt_toolkit
psycopg2
pycparser
PyJWT
pymongo
pyparsing
PyPDF2
python-crontab
python-dateutil
python-decouple
python-dotenv
python3-openid
pytz
redis
requests
requests-oauthlib
rest-api-payload
ruamel.yaml
ruamel.yaml.clib
s3transfer
six
social-auth-app-django
social-auth-core
soupsieve
SQLAlchemy
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
vine
virtualenv
wcwidth
Werkzeug
whitenoise
zipp
